[user]
	name = Joshua Ryan V. Velasquez
	email = jr.velasquez@jeonsoft.com
[github]
    user = joshua-afk
[core]
	editor = nvim
	autocrlf = true
	excludesfile = oz
[alias]
    hard = reset --hard
    soft = reset --soft
    ci = commit
    p = push
    st = status
    cm = commit -m
    co = checkout
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    plog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    cfc = show --pretty --name-only
    unstage = reset HEAD --
    del = branch -D
    new = checkout -b
    amend = commit --amend
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[credential "http://main:1880"]
	provider = generic
	helper = wincred
[credential "http://mainserver:1880"]
	provider = generic
[safe]
	directory = C:/Users/jr.velasquez.JEONSOFT/Documents/_obsidian
	directory = D:/clones/WebJPS
	directory = D:/clones/ESS4
	directory = D:/clones/ClientCustomizations
	directory = D:/clones/JIBES_JS_Custom_Framework
	directory = D:/clones/EmailSenderOnNode