#Dotfiles
.bash_profile
.bashrc
.bundle
.dotnet
.git-credentials
.bash_history
.cache
.docker
.gem
.lesshst
.local
.minttyrc
.node-gyp
.node_repl_history
.npm
.npmrc
.nvim
.oh-my-zsh
.pgAdmin4*
.pyenv
.ssh
.uru
.vim
.viminfo
.vscode
.zcompdump*
.zsh*
.histfile

#Folders
AppData
Contacts
Desktop
Documents
Downloads
Favorites
Intel
3D Objects
Application Data
Cookies
IntelGraphicsProfiles
Local Settings
MicrosoftEdgeBackups
My Documents
Links
Music
OneDrive
Pictures
Saved Games
Searches
Tracing
Videos
Tor Browser
NetHood
PrintHood
Recent
SendTo
Start Menu
Templates
autohotkey
EurekaLog

#Misc
scoop
projects
vimfiles
keepassxc*
cpuz*
ntuser*
NTUSER*
edb*
win32yank.exe
gbash.bat
mercurial.ini
rbs.bat
_viminfo

github-token.txt
