# =========================
# Contents
#
#  ==MSSQL
#
# =========================

# ==REQUIRE==
snippet sql-int "MSSQL: variable datatype"
		sql.Int
snippet sql-bit "MSSQL: variable datatype"
		sql.Bit
snippet sql-varchar "MSSQL: variable datatype"
		sql.VarChar(250)
snippet sql-datetime "MSSQL: variable datatype"
		sql.DateTime
