# =========================
# Contents
#
#  = DISPLAY
#  = CUSTOM
#
# =========================

# == DISPLAY ==
snippet flex "DISPLAY: flexbox"
		display: flex;
# == CUSTOM ==
snippet c-vertical-center "CUSTOM: horizontally align in container"
		display: flex;
		align-items: center;
snippet c-horizontal-center "CUSTOM: horizontally align in container"
		display: flex;
		justify-content: center;
